// First override some or all individual color variables
$primary: #2C6E49;
$secondary: #4c956c;
$success: #fefee3;
$info: #f5b800;
$warning: #28383d;
$danger: #d62518;
$light: #fefee3;
$dark: #28383d;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

$body: (
	background-image: linear-gradient(to right,#d38236,#4c956c)	
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';