html
    head
        title Airpods on Sale!
    body
        h1 Guess What!
        //- img(src=#{thumbnail})
        p Those airpods you've been wanting? They're on sale! 
        p The price is #{price}, which is lower than the standard price of #{normalPrice}!